.container {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
}

.container:hover{
    background-color: #2d3d5c;
}

.active {
    background-color: #2d3d5c;
}
  